body {
    margin: 0;
    /* font-family: 'Nunito',sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #6c757d; */
    text-align: left;
    background-color: #ffffff;
}
body {
    overflow-x: hidden;
}
@media (min-width: 992px){

.pb-lg-3, .py-lg-3 {
    padding-bottom: 1.5rem!important;
}
}
@media (min-width: 992px){

.pt-lg-3, .py-lg-3 {
    padding-top: 1.5rem!important;
}
}
.border-light {
    border-color: #eef2f7!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
/* btn */
.btn-success {
    -webkit-box-shadow: 0 2px 6px 0 rgba(10,207,151,.5);
    box-shadow: 0 2px 6px 0 rgba(10,207,151,.5);
}
.btn-primary {
    -webkit-box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
}


.color-paste{
    background-color: #23adb5;

}

/* text size */
.text-l{

    font-size: 2.5rem;
}
.weight-800{
    font-weight: 700;
}
.space-25{
    letter-spacing: -.05rem;

}

.text-gray-500 {
    --text-opacity: 1;
    color: black !important;
    /* color: rgba(160,174,192,var(--text-opacity)) !important; */
    font-weight: 500;
}
.text-gray-500:hover{

    color: #00adb5!important;
}
.text-black{
    color: black ;
}
.btn-color-paste{
    
        color: #fff;
        background-color: #23adb5 !important;
        border-color: #23adb5 !important;
        border-width: 2px;
    
}
.btn-color-paste:hover{
    
    color: rgba(160,174,192,var(--text-opacity)) !important;
    
    background-color: #ffffff !important;
    transition: .5s;

}




.navbar .container,.navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}
.navbar-dark .navbar-brand {
    color: #fff;
}
@media (min-width: 992px){
.mr-lg-5, .mx-lg-5 {
    margin-right: 4.5rem!important;
}
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
    transition: .5s;
}
a, button {
    outline: 0!important;
}
a {
    /* color: #727cf5; */
    text-decoration: none;
    background-color: transparent;
}
img {
    vertical-align: middle;
    border-style: none;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}
@media (min-width: 992px){

.navbar-expand-lg .navbar-toggler {
    display: none;
}
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* hero section */
.btn-light {
    color: #313a46;
    background-color: #eef2f7;
    border-color: #eef2f7;
}
.hero-section {
    
    
    position: relative;
    padding: 50px 0 50px 0;
}
.hero-section .hero-title {
    line-height: 42px;
}
.font-weight-normal {
    font-weight: 400!important;
}
.text-white-50 {
    color: rgba(255,255,255,.8)!important;
}

/* footer */
.social-list-item {
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    color: #adb5bd;
}
.text-white-50 {
    color: rgba(255,255,255,.5)!important;
}
a {
    /* color: #727cf5; */
    text-decoration: none !important;
    background-color: transparent;
}



/* contact section */
.bg-light-lighten {
    background-color: rgba(238,242,247,.25)!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.text-muted {
    color: #98a6ad!important;
   
}
/* .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
} */

.d-block {
    display: block!important;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    font-weight: 600;
    color: #7e8b96;
}
.form-control-light {
    background-color: #f1f3fa!important;
    border-color: #f1f3fa!important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #f1f3fa;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    outline: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #f1f3fa;
    /* border-color: #80bdff; */
    outline: none !important;
    box-shadow:none !important;
}
::-webkit-input-placeholder { /* Edge */
   opacity: .3;
  }

/* FAQ  */

  .faq-question-q-box {
    height: 30px;
    width: 30px;
    color: #727cf5;
    background-color: rgba(114,124,245,.25);
    -webkit-box-shadow: 0 0 45px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 45px 0 rgba(0,0,0,.12);
    text-align: center;
    border-radius: 50%;
    float: left;
    font-weight: 700;
    line-height: 30px;
}
.faq-question {
    margin-top: 0;
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #313a46;
}
.faq-answer {
    margin-left: 50px;
}
.text-muted {
    color: #98a6ad!important;
}

/* pricing */
.card {
    /* position: relative;
    display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* -ms-flex-direction: column; */
    flex-direction: column;
    min-width: 0;
    /* word-wrap: break-word; */
    background-color: #fff;
    background-clip: border-box;
    border:none;
    border-radius: .25rem;

}
.card {
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    margin-bottom: 24px;
}
.card-pricing {
    position: relative;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
}
.card-pricing .card-pricing-plan-name {
    padding-bottom: 20px;
}
.card-pricing .card-pricing-price {
    padding: 30px 0 0;
}
.card-pricing .card-pricing-price span {
    font-size: 40%;
    color: #98a6ad;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card-pricing .card-pricing-features {
    color: #98a6ad;
    list-style: none;
    margin: 0;
    
    
}
.card-pricing .card-pricing-features li {
    padding: 15px;
}
.btn-rounded {
    border-radius: 2em;
}

.features h5{

    margin: 10px 0;
    font-weight: 700;
    font-size: 1.125rem;

}
/* h4, h4 {
    font-size: 1.125rem;
} */
.font-40 {
    font-size: 25px!important;
    Display: inline-block;
    /* font: normal normal normal 14px/1 FontAwesome; */
    /* font-size: inherit; */
    text-rendering: auto;
    /* -webkit-font-smoothing: antialiased; */
    height: 60%;
    width: 20%;
    color: #727cf5;
    background-color: rgba(114,124,245,.25);
    -webkit-box-shadow: 0 0 45px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 45px 0 rgba(0,0,0,.12);
    text-align: center;
    border-radius: 50%;
    /* float: left; */
    font-weight: 700;
    line-height: 60px;
}
/* .bg-primary-lighten {
    background-color: rgba(114,124,245,.25)!important;
} */
/* .avatar-title {
    webkit-box-align: center;
    align-items: center;
    height: 100%;
    -webkit-box-pack: center;    
    -webkit-box-pack: center;

} */
/* .rounded-circle {
    border-radius: 50%!important;
} */


/* Dashboard  Design*/
.left-side-menu {
    width: 260px;
    z-index: 10;
    background: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
    bottom: 0;
    position: fixed;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    top: 0;
    padding-top: 10px;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    background: #313a46;
  }
  
  .left-offset{
      margin-left: 245px;
  }
  .Branch{
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 25px;
  } 
  .table th{
      color: #6c757d;
  }
.text-size{
    font-size: 10px;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn_upper {
    border: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    background-color: #10acb4;
    padding: 10px 30px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    margin-right:5px;
  }
  input::-webkit-input-placeholder {
    color: black; 
    opacity: 0.3; /*Change the opacity between 0 and 1*/
}
/* toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* welcome image modal  */
    .img-modal-padding{

        padding: 0;
    }
    


    .modal 
    {
    
    padding: 0;
    /* overflow: visible; */
    /* z-index: 1001; */
    top: 20px;

    left: 20px;
    }
    .closeBtn
    {

    display: block;
    float:right;
    position:relative;
    top:-10px;
    right: -20px;
    /* z-index: 1002; */
    }
    
    .img-modal-conatnt{
        border:none;
        background-color: transparent;
    }

    /* welcome page image features */
    .img-features-text h5{
        font-weight:700 ;
        font-size: .9375rem;

    }

.screenshot_viewer{
    max-width: 60% !important;
}


