.header-large{
    font-size: 3rem;
}

.header-medium{
    font-size: 2.5rem;
}

.letter-space-tight{
    letter-spacing: -.025em;
}

.font-para-xl{
    font-size: 1.25rem;
}

.text-base {
    font-size: 1rem;
}
/* .text-lg{
    font-size: 1.25rem;
} */
.text-xl{
    font-size: 1.5rem;
}


.header-small{
    font-size: 2rem;

}
.header-extra-small{
    font-size: 1.8rem;

}

.font-bold{
    font-weight: 700;
}
.font-weight-900{
    font-weight: 900;
}
.font-weight-800{
    font-weight: 900;
}
.font-weight-500 {
    font-weight: 500;
}
.font-weight-600 {
    font-weight: 600;
}


/* line height */
.leading-7 {
    line-height: 1.75rem;
}


/* text color */


.text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
}

/* .text-gray {
    --text-opacity: 1;
    color: #77797b;
    /* color: rgba(160,174,192,var(--text-opacity)); */
} */
.text-org{
    --text-opacity: 1;
    color: #e4a049;
    color: rgba(228,160,73,var(--text-opacity));
}


/* background color */

.bg-org{
    --bg-opacity: 1;
    background-color: #00adb5
    /* background-color: rgba(228,160,73,var(--bg-opacity)); */
}

.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255,255,255,var(--bg-opacity));
}


/* button border */
.border {
    border-width: 1px;
}
.rounded-md {
    border-radius: .375rem;
}
.border-transparent {
    border-color: transparent;
}
.letter-space-sm{
    letter-spacing: 1px;
}


/* padding  */

.padding-lg{
    padding-top: 70px;
    padding-bottom: 70px;
}

/* margin  */
.mt-25{
    margin-top: 10%;
    margin-bottom: 10%;
}

.jumbotron{
    background-color: #fff;
    height: 100vh;
}


/* font name */
.font-r{
    font-family: 'Righteous', cursive;
}


/* dropdown button */
#drop{
    width: 600%;
    left: -200%;
    border:none;
}
@media screen and (max-width: 960px){
    .solution {
   display: none !important;
}
}

@media screen and (min-width: 960px){
    .solution-p {
   display: none !important;
}
}

@media screen and (max-width: 1140px){
    .midea-responsive {
        padding-top: 10rem !important;
    }
}

.height-100{
    height: 50vh;
}

.solution-title{
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}
.solution-subtitle{
    font-size: .9rem;
    color: #77797b;
}


/* modal background  */
.fade{
    background-color: #0000002e;
}
.modal{
    top: 0px;
    left: 0px;
}
.modal-content {
    border: none;
}
.modal-dialog-centered{
    top: -15%;
}

/* Rumii Design */


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}

.heading{
    font-size: 42px;
    line-height: 1.3;

    font-weight: 600;
    font-family: 'Libre Franklin', sans-serif;
}

.blue_button{
    font-family: var(--libre-font);
    font-weight: 400;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    background: #057bf5;
    display: inline-block;
    transition: all 0.3s ease-in;
}

.blue_button:hover{
    background-color: #0a82ff;
    color: #fff;
    box-shadow: 0px 6px 20px -8px #0a82ff;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #6f36bb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.jumbotron-bg{
    background-image: url(../images/header_bg.png) !important;
    background-size: 100%;
    background-color: #fff;
}

.large_heding{
    font-size: 4rem;
}
.a_bit_smaller{
    font-size: 2.5rem;
}

.welcome-header{
 
    padding-top: 10%;

}

@media screen and (max-width: 1360px){


    .large_heding{
       
        font-size: 2.5rem;
    }
    .a_bit_smaller{
        font-size: 1.5rem !important;
    }
    .body{
        font-size: .9rem !important;
    }
    
   
   
}


@media screen and (max-width: 400px){
    .px-5{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    /* .nav-bar-padding{
        padding-right: 3rem !important;
    } */

    .large_heding{
       
        font-size: 1.2rem !important;
    }
    .a_bit_smaller{
        font-size: 1rem !important;
    }
    .body{
        font-size: .9rem !important;
    }
    .get-in-touch-logo{
        height: 5%;
    }
   
   
}

@media screen and (min-width: 1360px){
    
    .welcome-header{
        height: 100vh;
        padding-top: 10%;

    }
   
}



.purple-title-wrapper .purple-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.purple-title-wrapper .purple-title::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #6f36bb;
    border-radius: 100px 0 0 0;
    -moz-border-radius: 100px 0 0 0;
    -webkit-border-radius: 100px 0 0 0;
    margin-right: 10px;
}

.bg-grayish{
    background-color: #f2f2f2;
}

.card p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    line-height: 1.8;
}

.bg-yellowish{
    background-color: #f5f2eb;
}

.bg-greenish{
    background-color: #47aeb5;
}
.overflow{
    overflow: hidden;
}
.card-deck{
        margin-right: 0px;
    margin-left: 0px;
}
.navbar-menu{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1rem !important;
}

.height-vh-70{
    height: 70vh;
}

.zoom {
 
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
.reedem-color{
    background-color: #c9cfe4;
}  

.login_section{
    background-image: url(https://attendancekeeper.net/manager/images/office_space.jpg) center 0 no-repeat fixed;
}